<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% for area in areas %}
        <a href="{{ area.get_absolute_url }}"><p>{{ area.titulo }}</p></a>
        <ul>
            {% for oportunidade in oportunidades %}
                {% if oportunidade.area == area %}
                    <a href="{{ oportunidade.get_absolute_url }}"><li>{{ oportunidade.titulo }}</li></a>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>