{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/details.css' %}">
    <title>Azo</title>

    <link rel="shortcut icon" href="{% static 'IMG/favicon.ico' %}" />

</head>

<body>
    <section id="head" style="background-image: url({{ oportunidade.icone.url }});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="head__wrap d-flex align-items-center">
                        <div class="head__icone__wrap">
                            <a href="{% url 'index' %}">
                                <img class="head__icone" src="{% static 'IMG/icone_voltar.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section id="saiba-mais">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="saiba-mais__info__wrap">
                        <h1 class="saiba-mais__titulo">{{ oportunidade.titulo }}</h1>
                        <h3 class="saiba-mais__subtitulo">{{ oportunidade.atuacao }}</h3>
                        <p class="saiba-mais__descricao">
                            {{ oportunidade.descricao }}
                        </p>
                        {% if oportunidade.link_inscricao %}
                            <a href="{{ oportunidade.link_inscricao }}" target="_blank">
                                <button class="saiba-mais__button">Faça sua inscrição</button>
                            </a>
                        {% endif %}
                        {% if oportunidade.empresa.link_doacao %}
                            <a href="{{ oportunidade.empresa.link_doacao }}" target="_blank">
                                <button class="saiba-mais__button">Faça sua doação</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="abas">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="informacoes-tab" data-bs-toggle="tab" href="#informacoes" role="tab"
                        aria-controls="home" aria-selected="true">Informações</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="perguntas-tab" data-bs-toggle="tab" href="#perguntas" role="tab"
                        aria-controls="perguntas" aria-selected="true">Perguntas</a>
                </li>
            </ul>
            <!-- O CONTEUDO FICA AQUI -->
            <div class="tab-content" id="myTabContent">
                <!-- INFORMAÇÕES -->
                <div class="tab-pane fade show active" id="informacoes" role="tabpanel"
                    aria-labelledby="informacoes-tab">
                    <!-- CADA INFORMAÇÃO -->
                    <div class="informacoes__wrap">
                        <div class="informacoes__titulo__wrap d-flex align-items-baseline">
                            <img src="{% static '/IMG/Ellipse.png' %}" alt="">
                            <h3 class="informacoes__titulo">Inscrição</h3>
                        </div>
                        <p class="informacoes__texto">{{ oportunidade.data|linebreaksbr }}</p>
                    </div>
                    <div class="informacoes__wrap">
                        <div class="informacoes__titulo__wrap d-flex align-items-baseline">
                            <img src="{% static '/IMG/Ellipse.png' %}" alt="">
                            <h3 class="informacoes__titulo">Benefícios</h3>
                        </div>
                        <p class="informacoes__texto">{{ oportunidade.beneficios|linebreaksbr }}</p>
                    </div>
                    <div class="informacoes__wrap">
                        <div class="informacoes__titulo__wrap d-flex align-items-baseline">
                            <img src="{% static '/IMG/Ellipse.png' %}" alt="">
                            <h3 class="informacoes__titulo">Áreas que você pode atuar</h3>
                        </div>
                        <p class="informacoes__texto">{{ oportunidade.vagas|linebreaksbr }}</p>
                    </div>
                </div>
                <!-- PERFUNTAS -->
                <div class="tab-pane fade" id="perguntas" role="tabpanel" aria-labelledby="perguntas-tab">
                    <div class="accordion" id="accordionExample">
                        <!-- CADA ACORDEAO É ESSE accordion-item -->
                        {% for pergunta in perguntas %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="pergunta-{{ pergunta.id }}">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#Colapsse-{{ pergunta.id }}" aria-expanded="true" aria-controls="Colapsse-{{ pergunta.id }}">
                                        <img src="{% static '/IMG/Ellipse.png' %}" alt="">
                                        <h3 class="perguntas__titulo">{{ pergunta.pergunta }}</h3>
                                    </button>
                                </h2>
                                <div id="Colapsse-{{ pergunta.id }}" class="accordion-collapse collapse" aria-labelledby="pergunta-{{ pergunta.id }}"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {{ pergunta.resposta }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
</body>

</html>