<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="CSS/details.css">
    <title>Konect | Empresa Junior</title>
</head>

<body>
    <section id="head" style="background-image: url(/IMG/bg-eject.jfif);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="head__wrap d-flex align-items-center">
                        <div class="head__icone__wrap">
                            <a href="/index.html">
                                <img class="head__icone" src="/IMG/icone_voltar.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section id="saiba-mais">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="saiba-mais__info__wrap">
                        <h1 class="saiba-mais__titulo">EJECT</h1>
                        <h3 class="saiba-mais__subtitulo">Ciencias e tecnologia</h3>
                        <p class="saiba-mais__descricao">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis maxime ad unde quae,
                            beatae inventore natus perspiciatis cumque corrupti ducimus porro fugiat maiores fugit
                            praesentium? Ducimus deleniti aliquam nobis excepturi?
                        </p>
                        <a href="http://">
                            <button class="saiba-mais__button">Faça sua inscrição</button>
                        </a>
                        <a href="http://">
                            <button class="saiba-mais__button">Faça sua doação</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="abas">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="abas__titulo">Saiba Mais</h2>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="informacoes-tab" data-bs-toggle="tab" href="#informacoes" role="tab"
                        aria-controls="home" aria-selected="true">Informações</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="perguntas-tab" data-bs-toggle="tab" href="#perguntas" role="tab"
                        aria-controls="perguntas" aria-selected="true">Perguntas</a>
                </li>
            </ul>
            <!-- O CONTEUDO FICA AQUI -->
            <div class="tab-content" id="myTabContent">
                <!-- INFORMAÇÕES -->
                <div class="tab-pane fade show active" id="informacoes" role="tabpanel"
                    aria-labelledby="informacoes-tab">
                    <!-- CADA INFORMAÇÃO -->
                    <div class="informacoes__wrap">
                        <div class="informacoes__titulo__wrap d-flex align-items-baseline">
                            <img src="/IMG/Ellipse.png" alt="">
                            <h3 class="informacoes__titulo">Titulo</h3>
                        </div>
                        <p class="informacoes__texto">- Aprendizagem prática</p>
                        <p class="informacoes__texto">- Aprendizagem prática</p>
                        <p class="informacoes__texto">- Aprendizagem prática</p>
                    </div>
                    <div class="informacoes__wrap">
                        <div class="informacoes__titulo__wrap d-flex align-items-baseline">
                            <img src="/IMG/Ellipse.png" alt="">
                            <h3 class="informacoes__titulo">Benefícios de fazer parte de uma EJ</h3>
                        </div>
                        <p class="informacoes__texto">- Aprendizagem prática</p>
                        <p class="informacoes__texto">- Aprendizagem prática</p>
                        <p class="informacoes__texto">- Aprendizagem prática</p>
                    </div>
                    <div class="informacoes__wrap">
                        <div class="informacoes__titulo__wrap d-flex align-items-baseline">
                            <img src="/IMG/Ellipse.png" alt="">
                            <h3 class="informacoes__titulo">Áreas que posso atuar</h3>
                        </div>
                        <p class="informacoes__texto">- Aprendizagem prática</p>
                        <p class="informacoes__texto">- Aprendizagem prática</p>
                        <p class="informacoes__texto">- Aprendizagem prática</p>
                    </div>
                </div>
                <!-- PERFUNTAS -->
                <div class="tab-pane fade" id="perguntas" role="tabpanel" aria-labelledby="perguntas-tab">
                    <div class="accordion" id="accordionExample">
                        <!-- CADA ACORDEAO É ESSE accordion-item -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="pergunta-1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#Colapsse-1" aria-expanded="true" aria-controls="Colapsse-1">
                                    <img src="/IMG/Ellipse.png" alt="">
                                    <h3 class="perguntas__titulo">  Lorem Ipsum is simply dummy text of the printing and typesetting industry?J</h3>
                                </button>
                            </h2>
                            <div id="Colapsse-1" class="accordion-collapse collapse" aria-labelledby="pergunta-1"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="pergunta-2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#Colapsse-2" aria-expanded="true" aria-controls="Colapsse-2">
                                    <img src="/IMG/Ellipse.png" alt="">
                                    <h3 class="perguntas__titulo">  Lorem Ipsum is simply dummy text of the printing and typesetting industry?J</h3>
                                </button>
                            </h2>
                            <div id="Colapsse-2" class="accordion-collapse collapse" aria-labelledby="pergunta-2"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="pergunta-3">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#Colapsse-3" aria-expanded="true" aria-controls="Colapsse-3">
                                    <img src="/IMG/Ellipse.png" alt="">
                                    <h3 class="perguntas__titulo">  Lorem Ipsum is simply dummy text of the printing and typesetting industry?J</h3>
                                </button>
                            </h2>
                            <div id="Colapsse-3" class="accordion-collapse collapse" aria-labelledby="pergunta-3"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="pergunta-4">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#Colapsse-4" aria-expanded="true" aria-controls="Colapsse-4">
                                    <img src="/IMG/Ellipse.png" alt="">
                                    <h3 class="perguntas__titulo">  Lorem Ipsum is simply dummy text of the printing and typesetting industry?J</h3>
                                </button>
                            </h2>
                            <div id="Colapsse-4" class="accordion-collapse collapse" aria-labelledby="pergunta-4"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="pergunta-5">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#Colapsse-5" aria-expanded="true" aria-controls="Colapsse-5">
                                    <img src="/IMG/Ellipse.png" alt="">
                                    <h3 class="perguntas__titulo">  Lorem Ipsum is simply dummy text of the printing and typesetting industry?J</h3>
                                </button>
                            </h2>
                            <div id="Colapsse-5" class="accordion-collapse collapse" aria-labelledby="pergunta-5"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="JS/bootstrap.bundle.min.js"></script>
</body>

</html>