{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>Azo</title>

    <link rel="shortcut icon" href="{% static 'IMG/favicon.ico' %}" />

</head>
<body>  
    <main>
        <div class="inicio d-flex align-items-center" id="inicio">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="inicio__wrap d-flex flex-column align-items-center">
                            <img src="{% static 'IMG/azo.png' %}" alt="Logo">
                            <p class="inicio__texto texto__branco">{{ banner.frase }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section id="oportunidades">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-12 ">
                    <div class="proposito__wrap">
                        <h2 class="proposito__titulo">Já garantiu sua</h2>
                        <h3 class="proposito__subtitulo">{{ banner.pergunta }}</h3>
                        <p class="proposito__texto">
                            {{ banner.descricao }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for categoria in categorias %}
                    <div class="col-6 col-md-4 col-lg-3">
                        <a href="{{ categoria.get_absolute_url }}" class="oportunidade__link" style="background-image: url({{ categoria.icone.url }});">
                            <div class="oportinade__wrap">
                                <h3 class="oportunidade__titulo">{{ categoria.titulo }}</h3>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="proposito">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 ">
                    <div class="proposito__wrap">
                        <h2 class="proposito__titulo">{{ quemsomos.titulo }}</h2>
                        <h3 class="proposito__subtitulo">{{ quemsomos.subtitulo }}</h3>
                        <p class="proposito__texto">
                            {{ quemsomos.texto }}
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="proposito__foguete__wrap">
                        <img class="proposito__foguete"src="{% static 'IMG/foguete.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="cadastrese">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="proposito__foguete__wrap">
                        <img class="proposito__foguete"src="{% static 'IMG/garota.png'%}" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 ">
                    <div class="cadastrese__wrap">
                        <h2 class="cadastrese__titulo">{{ cadastro.titulo }}</h2>
                        <h3 class="cadastrese__subtitulo">{{ cadastro.subtitulo }}</h3>
                        <p class="cadastrese__texto">
                            {{ cadastro.texto }}
                        </p>
                        <a href="" class="cadastrese__button__wrap">
                            <button class="cadastrese__button">Cadastrar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="formulario">
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <div class="formulario__wrap">
                        <h2 class="formulario__titulo">Faça Parte Desse</h2>
                        <h3 class="formulario__subtitulo">Ecosistema</h3>
                        <p class="formularios__texto">
                            Receba o link do Telegram preenchendo esse formulário.
                        </p>
                    </div>
                    <div class="inscreva__wrap">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="inscreva-form-group d-flex flex-column ">
                                {{ form.nome }}
                                {{ form.email }}
                                <input type="submit" value="Enviar" id="enviar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <p class="footer__text">
            <strong>Siga</strong> nosso <a href="https://www.instagram.com/ozazo2021/" target="_blank"><img src="{% static 'IMG/coracao.png' %}" alt=""></a> e venha <strong>impactar o mundo</strong> com a gente.
        </p>
    </footer>
    <script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
</body>
</html>