*{
    font-family: 'Montserrat';
}
body{
    background-color: #F2F2F2;
}
/* SEÇÃO INICIAL */
#inicio{
    background-color: #009EB4;
    height: 50vh;
    margin-bottom: -15px;
}
.inicio__wrap{
    text-align: center;
    color:#fefef3;
}
.inicio__wrap .inicio__titulo{
    font-weight: 700;
    font-size: 28px;
    margin: 15px 0 0 0;
}
.inicio__wrap .inicio__texto{
    font-weight: normal;
    font-size: 16px;
    margin: 15px 0 0 0;
}
.inicio__news__wrap .inicio__news #mail_sub, .inicio__news__wrap .inicio__news #enviar_sub{
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.inicio__news__wrap .inicio__news #mail_sub{
    padding: 10px 15px;
    border-radius: 5px 0 0 5px;
}
.inicio__news__wrap .inicio__news #enviar_sub{
    background-color: #F07D53;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
}
/* SEÇÃO PROPOSITO */
#proposito{
    background-color: #fefef3;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 0px 35px 0;
    color: #3f414e;
}
#proposito .proposito__titulo{
    font-weight: bold;
    font-size: 28px;
}
#proposito .proposito__subtitulo{
    font-weight: 200;
}
#proposito .proposito__botao{
    background: #F07D53;
    border: 1px solid #FFA62B;
    border-radius: 10px;
    color: #fefef3;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 10px 20px;
}
.proposito__foguete__wrap{
    text-align: center;
}
.proposito__foguete{
    width: 240px;
    margin: 15px auto;
}
/* SEÇÃO CADASTRE-SE */
#cadastrese{
    text-align: right;
    padding: 35px 0 35px 0;
}
#cadastrese .cadastrese__titulo{
    font-weight: bold;
    font-size: 28px;
}
#cadastrese .cadastrese__subtitulo{
    font-weight: 200;
}
#cadastrese .cadastrese__button{
    background: #F07D53;
    border: 1px solid #FFA62B;
    border-radius: 10px;
    color: #fefef3;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 10px 20px;
}
/* SEÇÃO FORMULÁRIO */
#formulario{
    background-color: #e3dcd3;
    padding: 40px 0;
    color: #3f414e;
    margin-top: -15px;
}
#formulario .formulario__titulo{
    font-weight: bold;
    font-size: 28px;
}
#formulario .formulario__subtitulo{
    font-weight: 200;
}
#formulario .formulario__texto{
    font-weight: 300;
    font-size: 12px ;
}
#formulario .inscreva-form-group input{
    margin: 10px 0;
    background-color: #fefef3;
    padding: 15px;
    border: none;
    border-radius: 15px;
    color: #3f414e;
    outline: none !important;
}
#formulario .inscreva-form-group #enviar{
    background-color: #F07D53;
    color: #fefef3;
    padding: 5px;
    font-family: "Roboto", sans-serif;
}

#oportunidades{
    padding: 35px 0;
    background-color:#F2F2F2;
}
#oportunidades .oportunidade__link{
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin: 5px 2.5px ;
    padding: 10px;
    min-height: 200px;
    border-radius: 10px;
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top 20px;
}
#oportunidades .oportunidade__link .oportunidade__titulo{
    color: #fefef3;
    text-decoration: none;
    font-size: 18px;
}
#oportunidades  .row .col-6:nth-child(1) .oportunidade__link{
    background-color:#0091CA;
    background-image: url(/IMG/cards_1.svg);
    
}
#oportunidades  .row .col-6:nth-child(2) .oportunidade__link{
    background-color:#F07D53;
    background-image: url(/IMG/cards_2.svg);
    
}
#oportunidades  .row .col-6:nth-child(3) .oportunidade__link{
    background-color:#D8508A;
    background-image: url(/IMG/cards_3.svg);
    
}
#oportunidades  .row .col-6:nth-child(4) .oportunidade__link{
    background-color:#00BC52;
    background-image: url(/IMG/cards_4.svg);
    
}
#oportunidades  .row .col-6:nth-child(5) .oportunidade__link{
    background-color:#0091CA;
    background-image: url(/IMG/cards_5.svg);
    
}
#oportunidades  .row .col-6:nth-child(6) .oportunidade__link{
    background-color:#F07D53;
    background-image: url(/IMG/cards_6.svg);
    
}
#oportunidades  .row .col-6:nth-child(7) .oportunidade__link{
    background-color:#00BC52;
    background-image: url(/IMG/cards_7.svg);
    
}
#footer{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#footer .footer__text{
text-align: right;
font-size: 20px;
}
@media screen and (min-width: 768px){
    #inicio{
        height: 75vh;
    }
    #oportunidades .oportunidade__link{
        background-size: 60%;
    }
    #proposito, #formulario, #oportunidades{
        padding-left: 10%;
        padding-right: 10%
    }
    #formulario .inscreva__wrap{
        padding: 0 20%;
    }
    #formulario .inscreva__wrap #enviar{
        padding: 15px;
    }
    .inicio__news__wrap .inicio__news #mail_sub{
        width:40%;
        padding: 20px;
    }
    #proposito .proposito__botao{
        padding: 15px 25px;
    }
    #inicio .inicio__titulo,
    #proposito .proposito__titulo,
    #formulario .formulario__titulo,
    #oportunidades .proposito__titulo{
        font-size: 45px;
    }
    #inicio .inicio__subtitulo,
    #proposito .proposito__subtitulo,
    #formulario .formulario__subtitulo,
    #oportunidades .proposito__subtitulo{
        font-size: 35px;
    }
    #inicio .inicio__texto,
    #proposito .proposito__texto,
    #formulario .formulario__texto,
    #oportunidades .proposito__texto{
        font-size: 22px;
    }
    #footer{
        justify-content: center;
    }
    #footer .footer__text{
        text-align: right;
        font-size: 28px;
    }
}